.slick-dots.custom-dots li button:before {
  font-size: 14px;
  color: #64dd17;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.slick-dots.custom-dots li.slick-active button:before {
  color: #a0f27d;
  opacity: 1;
  font-size: 16px;
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff;
  font-size: 28px;
  opacity: 0.9;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #76ff03;
}
